$font-stack-one: 'Roboto', sans-serif;
$font-stack-two: 'Trebuchet MS', 'Lucida Sans';

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear
{
  clear: both;
}

html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper
{
  min-height: 100%;
  margin-bottom: -50px;
}

* html .page-wrapper
{
  height: 100%;
}

.page-buffer
{
  height: 50px;
}

.header
{
  background: #1b58a7;
  font: 26px $font-stack-one;

  & a
  {
    color: #ffffff;
  }
}

.menu
{
  margin-top: 20px;
  float: right;
}

.nav > li > a:hover,
.nav > li > a:focus
{
  background: #1b58a7;
}

.main
{
  padding: 20px 0;
  min-height: 780px;
}

.available_locations
{
  max-height: 150px;
  overflow-y: scroll;
  margin-bottom: 20px;
  margin-right: 10px;
}

.list_domains
{
  margin-bottom: 20px;

  & a
  {
    color: #000000;
    cursor: pointer;
  }

  & a:active
  {
    color: #fa0000;
  }
}

.settings_block
{
  border: solid 1px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 450px;
}

.add_button
{
  margin-top: 20px;
  float: left;
}

.block_locations
{
  border-right: solid 1px rgba(0, 0, 0, 0.13);
}

.block_urls
{
  border-left: solid 1px rgba(0, 0, 0, 0.13);
}

.btn
{
  min-width: 130px;
}

.domain_addition_block,
.url_addition_block
{
  margin: 20px 0;
}

button
{
  outline: none;
}

.ct-chart1,
.ct-chart2,
.ct-chart3
{
  background: #453D3F;
  padding: 10px;
}

.ct-axis-title,
.ct-label
{
  fill: #94878a;
  color: #94878a;
}

.footer
{
  background: #1b58a7;
  font: 18px $font-stack-one;
  color: #ffffff;
  padding: 10px 0 5px 0;
  text-align: center;
  margin-top: 90px;

  & p
  {
    margin-bottom: 5px;
  }
}

.home_page
{
  background-size: cover;
  height: 100vh;
}

.block_auth
{
  max-width: 500px;
  border: solid 1px rgba(0, 0, 0, 0.11);
  margin: 210px auto 0 auto;
  border-radius: 5px;
  background: #d4dedf;
}

.form_auth,
.form_registration
{
  padding: 0 35px 25px 35px;
}

.form_title
{
  background: rgba(0, 0, 0, 0.07);
  width: 100%;
  padding: 5px 0;
  line-height: 40px;
  text-align: center;
  margin-top: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.11);;
}

.registration_link_block,
.auth_link_block
{
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5);;
}

html
{
  font-size: 14px;
}

.horizontal_divider
{
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.13);
}

.logo
{
  margin-top: 20px;
}

.list_urls
{
  margin-left: 20px;
}

.list_locations
{
  margin-left: 20px;
  padding: 20px;
  min-width: 300px;
}

.domain_addition_block .input-group
{
  float: left;
  margin-right: 5px;
}

.list_domains_block,
.list_locations_block
{
  margin-bottom: 10px;
}

.list_locations_block
{
  & .form-group
  {
    padding: 10px;
  }
}

.save_settings_button,
.edit_settings_button
{
  float: right;
  font: 18px $font-stack-one;
  margin: 20px 10px;
}

.block_domain h2
{
  float: left;
  margin-right: 10px;
}

.block_domain
{
  min-height: 60px;
}

input
{
  padding: 10px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.13);
}

.options_button
{
  float: right;
}

.save_options_button
{
  float: right;
}

.btn .caret
{
  margin-left: 20px;
}

.rounded
{
  counter-reset: li;
  list-style: none;
  font: 14px $font-stack-two;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rounded li
{
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 10px 0;
  background: rgba(27, 88, 167, 0.15);
  color: #444;
  text-decoration: none;
  transition: .3s ease-out;
  border-radius: 5px;
}

.rounded li:hover
{
  background: #e9e4e0;
}

.rounded li:before
{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -18px;
  top: 65%;
  margin-top: -20px;
  background: #428bca;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: .45px solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  transition: all .3s ease-out;
}

.chartist-tooltip
{
  z-index: 1000;
}

.slider.slider-horizontal
{
  width: 100%;
  margin-bottom: 20px;
}

.min_date,
.max_date
{
  font-size: 16px;
  font-weight: bold;
}

.delete_settings
{
  position: absolute;
  right: 39px;
  top: 14px;
  opacity: 0.3;
}

.delete_url
{
  position: absolute;
  right: 33px;
  top: 11px;
  opacity: 0.3;
}

.delete_location
{
  position: absolute;
  right: 53px;
  top: 27px;
  opacity: 0.3;
}

.delete_settings:hover,
.delete_location:hover,
.delete_url:hover
{
  opacity: 1;
}

.delete_settings:before,
.delete_settings:after,
.delete_location:before,
.delete_location:after,
.delete_url:before,
.delete_url:after
{
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}

.delete_settings:before,
.delete_location:before,
.delete_url:before
{
  transform: rotate(45deg);
}

.delete_settings:after,
.delete_location:after,
.delete_url:after
{
  transform: rotate(-45deg);
}

.domain_value
{
  border: none;
}

.domain_value:focus
{
  border: solid 0.5px #000000;
}

.demand
{
  font-size: 13px;
  color: rgba(150, 150, 150, 0.71);
}

.form-group
{
  & label
  {
    font-size: 16px;
  }
}

.has-error .form-control
{
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.response_modal
{
  min-height: 200px;
  min-width: 100px;
  text-align: center;
  font-size: 26px;
}