*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-stack-one: 'Roboto', sans-serif;

.header
{
  background: #1b58a7;
  font: 26px $font-stack-one;

  & a
  {
    color: #ffffff;
  }
}

.menu
{
  margin-top: 20px;
  float: right;
}

.nav>li>a:hover,
.nav>li>a:focus
{
  background: #1b58a7;
}

.main
{
  padding: 20px 0;
  min-height: 780px;
}

.list-locations
{
  max-height: 600px;
  overflow: scroll;
  margin-right: 20px;
}

.footer
{
  background: #1b58a7;
  font: 18px $font-stack-one;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.home_page
{
  background: url('../img/background.jpg');
  background-size: cover;
  height: 100vh;
}

.home_page_button
{
  display: inline-block;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0);
  border: solid 2px #ffffff;
  margin: 400px 20px 0 20px;
  min-width: 230px;
  color: #ffffff;
  font: 26px $font-stack-one;
  transition: 0.5s;
  outline: none;


  &:hover
  {
    background: #ffffff;
    color: #000000;
  }
}

.button_block
{
  text-align: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.32);
}

.modal_auth
{
  max-width: 500px;
  min-height: 300px;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  z-index: 1045;
  text-align: left;
  width: 100%;
}

.background_modal
{
  background: rgba(0, 0, 0, 0.64);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  transition: 0.3s;
  text-align: center;
  opacity: 0;
}

.close_button
{
  width: 25px;
  height: 26px;
  background: url('../img/close_button.png');
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

.opacity_1
{
  opacity: 1;
}

.visible
{
  display: block;
}